<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EDOArchiveCreator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <EDOArchiveCreator.My.MySettings>
            <setting name="MyDebug" serializeAs="String">
                <value>YES</value>
            </setting>
            <setting name="SMTPService" serializeAs="String">
                <value>spbprd5</value>
            </setting>
            <setting name="DiadocApiURL" serializeAs="String">
                <value>https://diadoc-api.kontur.ru</value>
            </setting>
            <setting name="DeveloperKey" serializeAs="String">
                <value>elektroskandia-c89ac29f-1402-470e-88f1-a624d3a530d2</value>
            </setting>
            <setting name="MyPassword" serializeAs="String">
                <value>B@ckUp0per</value>
            </setting>
            <setting name="MyboxId" serializeAs="String">
                <value>b840c0b7-b3c4-4a79-b3f6-0dbda4efe9a7</value>
            </setting>
            <setting name="MyArchivePath" serializeAs="String">
                <value>\\spbsca\DiskX\EDOArchive</value>
            </setting>
            <setting name="MyOverwriteFlag" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberDownloadTries" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MessageTo" serializeAs="String">
                <value>ITDep@skandikagroup.ru</value>
            </setting>
            <setting name="MessageCC" serializeAs="String">
                <value>ReportServer_Buh16@skandikagroup.ru</value>
            </setting>
            <setting name="MessageFrom" serializeAs="String">
                <value>reportserver@skandikagroup.ru</value>
            </setting>
            <setting name="MyLogin" serializeAs="String">
                <value>backup.operator@skandikagroup.ru</value>
            </setting>
        </EDOArchiveCreator.My.MySettings>
    </applicationSettings>
</configuration>